:root {
	--theme-bg: #111111;
	--theme-fg: #444444;
	--theme-line: #888888; 
	--theme-text: #dddddd;

	--small-banner-width: 40px;
	--small-banner-height: 80px;

	--large-banner-width: 200px;
	--large-banner-height: 400px;

	--large-shield-width: 120px;
	--large-shield-height: 220px;

	--theme-rounding: 0.2rem;
}

* {
	box-sizing: border-box;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--theme-text);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

	width: 100%;
	height: 100%;

	overflow: hidden;

	background-color: var(--theme-bg);
}